html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 4, 4, 0.926) !important;
    color: white !important;
}

.navbar{
    background-color: rgb(8, 11, 15);
}
.navbar a{
    color: white !important;
}
.navbar .nav-link.active{
    font-weight: bold;
    text-decoration: underline;
}


main{
    flex: 1;
}
.box .banner_image{
    border-radius: 100%;
    box-shadow: 0px 15px 80px rgb(238, 152, 40);
}

.contact_image{
    border-radius: 13rem;
}

.contact .btn{
    height: 4rem;
    align-content: center;
}
.contact-img{
    border-radius: 5rem;
    box-shadow: 10px 10px 40px rgb(211, 223, 239);
    
}

.form-control{
    background-color: rgb(28, 21, 21) !important;
    
     border-radius: 1rem !important; 
     color: white !important;
}
.form-control::placeholder{
    color: white !important;
}

footer{
    background-color: rgb(8, 11, 15);
    color: white;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 5rem;
}
footer ul{
    list-style: none;
}
footer ul li { 
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: cyan;
}
